.navbar {
  background-color: #222 !important;

  .navbar-brand {
    color: #fff !important;
    font-weight: bold;
  }

  .nav-link {
    color: #fff !important;
    margin: 0 0.5rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
